# relxill CI jobs

before_script:
  - source /software/profile.in
  - export RELXILL_TABLE_PATH="/userdata/data/dauser/relline_tables"

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - make model
  artifacts:
    expire_in: 30 min
    paths:
      - "relxill_model_v*.tgz"
      - "bin/"
      - "build/"

test:
  stage: test
  script:
    - make test 
    - make test-stable 

provide:
  stage: deploy
  script:
    - rsync -vhu relxill_model_v*.tgz /home/dauser/work/relxill/relxillArchive/
  only:
    - tags
